# Kredensial Database PostgreSQL (Docker Internal)
POSTGRES_USER=sulfur_admin
POSTGRES_PASSWORD=GantiDenganPasswordKuat123!
POSTGRES_DB=sulfur_monitoring

# Kunci Keamanan API Backend (X-API-Key)
API_SECRET_KEY=stasrg-super-secure-key-2026

# Local / Native Dev Database URL (jika menjalankan backend di luar docker)
# DATABASE_URL=postgresql+asyncpg://sulfur_admin:GantiDenganPasswordKuat123!@localhost:5432/sulfur_monitoring

